*.bbl
*.aux
*.blg
*.out
ms.pdf
*.gz
*.log
*.html
*.DS_Store
*mvt_fit*
*mvt_ncp_fit*
/write_up/*.pdf
/output/mvt_*.rds
/data/ovarian_long.rds
/data/ovarian_short.rds
/src/.Rhistory
/src/ovarian_lambert.R
/data/prostate_long.rds
/data/prostate_short.rds
/output/fit_alt_50000.rds
/output/fit_nominal_50000.rds
/write_up/arxiv_submission_aug_2020/*.pdf
documentation/~$viewer_responses.docx
write_up/ba_final_submission.zip
